$ucla-yellow: #F2D43A;
$ucla-black: #000000;
$ucla-white: #FFFFFF;
$dark-blue: #1D4481;

$color-main: $ucla-black;
$color-secondary: $ucla-white;
$color-accent: $ucla-yellow;
$color-background: $ucla-white;
$color-tertiary: $dark-blue;