@import '../../../global-styles/variables';

.arrow {
	-webkit-appearance: none;
	-webkit-button-style: none;
	border: 2px solid transparent;
	background: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	position: absolute;
	top: 150px;
	right: 0;
	z-index: 1;

	&:before, &:after {
		content: '';
		display: block;
		color: $color-tertiary;
	}

	&:before {
		background: currentColor;
		height: 2px;
		width: 54px;
	}

	&:after {
		width: 14px;
		height: 14px;
		border: 2px solid currentColor;
		border-left: 0;
		border-bottom: 0;
		position: absolute;
		transform: translateY(calc(-50% - 1px)) rotate(45deg);
		right: 11px;
		
	}

	@media screen and (max-width: 690px) {
		display: none;
	}

	&:nth-of-type(1) {
		right: unset;
		left: 0;

		&:after {
			right: unset;
			left: 11px;
			transform: translateY(calc(-50% - 1px)) rotate(-135deg);
		}
	}

	&:focus {
		border: 2px solid $color-accent;
	}
}